
<div class="header-text">
    <p>Find your recipe from our Bug Array coding Kitchen</p>
</div>
<div class="search-display">
    <app-search></app-search>
</div>

<div class="recipes-display">
    <app-recipe-card class="recipe"></app-recipe-card>
    <app-recipe-card class="recipe"></app-recipe-card>
    <app-recipe-card class="recipe"></app-recipe-card>
    <app-recipe-card class="recipe"></app-recipe-card>
    <app-recipe-card class="recipe"></app-recipe-card>
    <app-recipe-card class="recipe"></app-recipe-card>
</div>